[Desktop Entry]
Type=Application
Exec=io.furios.Telephony.Calls %u
Icon=io.furios.Telephony.Calls
Terminal=false
Categories=Utility;Telephony;Network;
MimeType=x-scheme-handler/tel;x-scheme-handler/callto;
StartupNotify=true
DBusActivatable=false
StartupWMClass=io.furios.Telephony
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
X-Phosh-UsesFeedback=true

Name=Calls
Name[af]=Oproepe
Name[am]=ጥሪዎች
Name[ar]=المكالمات
Name[as]=কলসমূহ
Name[ay]=Llamayunaka .
Name[az]=Zənglər
Name[be]=Званкі
Name[bg]=Обаждания
Name[bho]=बोलावल जाला .
Name[bm]=Weelekanw .
Name[bn]=কল
Name[bs]=Pozivi
Name[ca]=Trucades
Name[ceb]=Mga tawag
Name[ckb]=پەیوەندییەکان
Name[co]=Chjama
Name[cs]=hovory
Name[da]=Opkald
Name[de]=Anrufe
Name[doi]=बुलाया
Name[dv]=ކޯލްސް
Name[ee]=Yɔyɔwo .
Name[el]=κλήσεις
Name[eo]=Vokoj
Name[es]=Llamadas
Name[et]=Kõned
Name[eu]=Deiak
Name[fa]=تماس می گیرد
Name[fi]=Puhelut
Name[fr]=Appels
Name[fy]=Oproppen
Name[ga]=Glaonna
Name[gl]=Chamadas
Name[gn]=Ñehenói .
Name[gom]=कॉल 1 .
Name[gu]=કૉલ્સ
Name[ha]=Kira
Name[haw]=Kāhea ʻia
Name[hi]=कॉल
Name[hmn]=Hu
Name[hr]=Pozivi
Name[ht]=Apèl
Name[hu]=Hívások
Name[hy]=Զանգեր
Name[id]=Panggilan
Name[ig]=Oku
Name[ilo]=Dagiti awag .
Name[is]=Símtöl
Name[it]=Chiamate
Name[iw]=שיחות
Name[ja]=通話
Name[jw]=Telpon
Name[ka]=რეკავს
Name[kk]=Қоңыраулар
Name[km]=ការហៅទូរស័ព្ទ
Name[kn]=ಕರೆಗಳು
Name[ko]=통화
Name[kri]=kɔl dɛn .
Name[ku]=Gazî dike
Name[ky]=Чалуулар
Name[la]=vocat
Name[lb]=Appellen
Name[lg]=Okuyita .
Name[ln]=Kobenga .
Name[lo]=ໂທ
Name[lt]=Skambučiai
Name[lv]=Zvani
Name[mai]=कॉल 2019।
Name[mg]=antso
Name[mi]=Waea
Name[mk]=Повици
Name[ml]=വിളിക്കുന്നു
Name[mr]=कॉल
Name[ms]=Panggilan
Name[mt]=Sejħiet
Name[nb]=Samtaler
Name[nl]=Oproepen
Name[ny]=Kuitana
Name[pa]=ਕਾਲਾਂ
Name[pl]=Połączenia
Name[pt_BR]=Chamadas
Name[ro]=Apeluri
Name[ru]=Вызовы
Name[rw]=Hamagara
Name[sk]=hovory
Name[sl]=Klici
Name[sq]=Thirrjet
Name[sr]=Позиви
Name[sv]=Samtal
Name[sw]=Simu
Name[ta]=அழைப்புகள்
Name[te]=కాల్స్
Name[th]=โทร
Name[tl]=Mga tawag
Name[tr]=Aramalar
Name[uk]=Дзвінки
Name[ur]=کالز
Name[vi]=Cuộc gọi
Name[zh_CN]=通话
Name[zh_TW]=通話

Comment=Make and receive calls (Start as a standalone instance)
Comment[af]=Maak en ontvang oproepe
Comment[am]=ጥሪዎችን ያድርጉ እና ይቀበሉ
Comment[ar]=إجراء واستقبال المكالمات
Comment[as]=কল কৰক আৰু গ্ৰহণ কৰক
Comment[ay]=Llamayuñanak luraña ukat katuqaña .
Comment[az]=Zəng edin və qəbul edin
Comment[be]=Рабіце і прымайце званкі
Comment[bg]=Правете и приемайте повиквания
Comment[bho]=कॉल करीं आ रिसीव करीं .
Comment[bm]=weleli kɛ ani ka weleli sɔrɔ .
Comment[bn]=কল করুন এবং গ্রহণ করুন
Comment[bs]=Upućivanje i primanje poziva
Comment[ca]=Fer i rebre trucades
Comment[ceb]=Paghimo ug pagdawat og mga tawag
Comment[ckb]=پەیوەندی بکە و وەریبگرە
Comment[co]=Fate è riceve chjamate
Comment[cs]=Volejte a přijímejte hovory
Comment[da]=Foretag og modtag opkald
Comment[de]=Anrufe tätigen und empfangen
Comment[doi]=कॉल करो ते रिसीव करो
Comment[dv]=ކޯލް ކުރުމާއި ރިސީވް ކުރުން .
Comment[ee]=Wɔ kaƒoƒo eye nàxɔe .
Comment[el]=Πραγματοποιήστε και λάβετε κλήσεις
Comment[eo]=Faru kaj ricevu vokojn
Comment[es]=Hacer y recibir llamadas
Comment[et]=Helistamine ja kõnede vastuvõtmine
Comment[eu]=Deiak egin eta jaso
Comment[fa]=تماس بگیرید و دریافت کنید
Comment[fr]=Passer et recevoir des appels
Comment[fy]=Oproppen meitsje en ûntfange
Comment[ga]=Glaonna a dhéanamh agus a fháil
Comment[gl]=Facer e recibir chamadas
Comment[gn]=Ojapo ha ohupyty ñehenói .
Comment[gom]=कॉल करप आनी घेवप .
Comment[gu]=કૉલ કરો અને પ્રાપ્ત કરો
Comment[ha]=Yi da karɓar kira
Comment[haw]=Hana a loaʻa i nā kelepona
Comment[hi]=कॉल करें और प्राप्त करें
Comment[hmn]=Ua thiab txais hu
Comment[hr]=Upućujte i primajte pozive
Comment[ht]=Fè epi resevwa apèl
Comment[hu]=Hívások kezdeményezése és fogadása
Comment[hy]=Զանգեր կատարեք և ստացեք
Comment[id]=Melakukan dan menerima panggilan
Comment[ig]=Kpọọ ma nata oku
Comment[ilo]=Mangaramid ken umawat kadagiti awag .
Comment[is]=Hringja og svara símtölum
Comment[it]=Effettua e ricevi chiamate
Comment[iw]=בצע וקבל שיחות
Comment[ja]=電話の発着信
Comment[jw]=Nelpon lan nampa telpon
Comment[ka]=განახორციელეთ და მიიღეთ ზარები
Comment[kk]=Қоңырау шалу және қабылдау
Comment[km]=ធ្វើ និងទទួលការហៅទូរសព្ទ
Comment[kn]=ಕರೆಗಳನ್ನು ಮಾಡಿ ಮತ್ತು ಸ್ವೀಕರಿಸಿ
Comment[ko]=전화 걸기 및 받기
Comment[kri]=Mek ɛn gɛt kɔl dɛn .
Comment[ku]=Bangan bikin û bistînin
Comment[ky]=Чалууларды жасоо жана кабыл алуу
Comment[la]=Fac et accipere vocat
Comment[lb]=Maacht a kritt Uriff
Comment[lg]=Kola era ofune amasimu .
Comment[ln]=Sala pe zwa ba appels .
Comment[lo]=ໂທອອກ ແລະຮັບສາຍ
Comment[lt]=Skambinti ir priimti skambučius
Comment[lv]=Zvanīt un saņemt zvanus
Comment[mai]=कॉल करू आ रिसीव करू
Comment[mg]=Manaova sy mandray antso
Comment[mi]=Hanga me te whiwhi waea
Comment[mk]=Упатувајте и примајте повици
Comment[ml]=കോളുകൾ ചെയ്യുക, സ്വീകരിക്കുക
Comment[mr]=कॉल करा आणि प्राप्त करा
Comment[ms]=Buat dan terima panggilan
Comment[mt]=Agħmel u tirċievi telefonati
Comment[nb]=Ring og motta samtaler
Comment[nl]=Oproepen plaatsen en ontvangen
Comment[ny]=Imbani ndikulandila mafoni
Comment[pa]=ਕਾਲ ਕਰੋ ਅਤੇ ਪ੍ਰਾਪਤ ਕਰੋ
Comment[pl]=Wykonywanie i odbieranie połączeń
Comment[pt_BR]=Fazer e receber chamadas
Comment[ro]=Efectuați și primiți apeluri
Comment[ru]=Совершать и принимать звонки
Comment[rw]=Hamagara kandi wakire
Comment[sk]=Uskutočňujte a prijímajte hovory
Comment[sl]=Klicanje in sprejemanje klicev
Comment[sq]=Bëni dhe merrni telefonata
Comment[sr]=Упућивање и примање позива
Comment[sv]=Ring och ta emot samtal
Comment[sw]=Piga na upokee simu
Comment[ta]=அழைப்புகளை செய்து பெறவும்
Comment[te]=కాల్స్ చేయండి మరియు స్వీకరించండి
Comment[th]=โทรออกและรับสาย
Comment[tl]=Gumawa at tumanggap ng mga tawag
Comment[tr]=Arama yapma ve alma
Comment[uk]=Здійснюйте та приймайте дзвінки
Comment[ur]=کال کریں اور کال کریں
Comment[vi]=Thực hiện và nhận cuộc gọi
Comment[zh_CN]=拨打和接听电话
Comment[zh_TW]=撥打和接聽電話
