[Desktop Entry]
Type=Application
Exec=io.furios.Telephony --full
Icon=io.furios.Telephony
Terminal=false
Categories=Utility;Telephony;Network;
StartupNotify=true
DBusActivatable=true
StartupWMClass=io.furios.Telephony
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
X-Phosh-UsesFeedback=true

Name=Telephony
Name[af]=Telephony
Name[am]=Telephony
Name[as]=Telephony
Name[ay]=Telephony
Name[az]=Telephony
Name[be]=Telephony
Name[bg]=Telephony
Name[bho]=Telephony
Name[bm]=Telephony
Name[bn]=Telephony
Name[bs]=Telephony
Name[ca]=Telephony
Name[ceb]=Telephony
Name[ckb]=Telephony
Name[co]=Telephony
Name[cs]=Telephony
Name[da]=Telephony
Name[doi]=Telephony
Name[dv]=Telephony
Name[ee]=Telephony
Name[el]=Telephony
Name[eo]=Telephony
Name[et]=Telephony
Name[eu]=Telephonya
Name[fa]=Telephony
Name[fi]=Telephony
Name[fy]=Telephony
Name[ga]=Telephony
Name[gl]=Telephony
Name[gn]=Telephony
Name[gom]=Telephony
Name[gu]=Telephony
Name[ha]=Telephony
Name[haw]=Telephony
Name[hmn]=Telephony
Name[hr]=Telephony
Name[ht]=Telephony
Name[hu]=Telephony
Name[hy]=Telephony
Name[ig]=Telephony
Name[ilo]=Telephony
Name[iw]=Telephony
Name[jw]=Telephony
Name[ka]=Telephony
Name[kk]=Telephony
Name[km]=Telephony
Name[kn]=Telephony
Name[kri]=Telephony
Name[ku]=Telephony
Name[ky]=Telephony
Name[la]=Telephony
Name[lb]=Telephony
Name[lg]=Telephony
Name[ln]=Telephony
Name[lo]=Telephony
Name[lt]=Telephony
Name[lv]=Telephony
Name[mai]=Telephony
Name[mg]=Telephony
Name[mi]=Telephony
Name[mk]=Telephony
Name[ml]=Telephony
Name[mr]=Telephony
Name[ms]=Telephony
Name[mt]=Telephony
Name[ny]=Telephony
Name[pa]=Telephony
Name[ro]=Telephony
Name[rw]=Telephony
Name[sk]=Telephony
Name[sl]=Telephony
Name[sq]=Telephony
Name[sr]=Telephony
Name[sw]=Telephony
Name[ta]=Telephony
Name[te]=Telephony
Name[th]=Telephony
Name[tl]=Telephony
Name[uk]=Telephony
Name[ur]=Telephony
Name[vi]=Telephony
Name[zh_TW]=Telephony

Comment=Handle calls, SMS, MMS and contacts all in one place
Comment[af]=Hanteer oproepe, sms'e, mms'e en kontakte alles op een plek
Comment[am]=ጥሪዎችን፣ ኤስኤምኤስን፣ ኤምኤምኤስን እና እውቂያዎችን በአንድ ቦታ ይያዙ
Comment[ar]=التعامل مع المكالمات والرسائل القصيرة ورسائل الوسائط المتعددة وجهات الاتصال في مكان واحد
Comment[as]=কল, SMS, MMS আৰু যোগাযোগ সকলো একে ঠাইতে হেণ্ডেল কৰক
Comment[ay]=Amuyaña jawsatanaka, SMS, MMS ukat contactos ukanakax taqpachaw mä chiqan .
Comment[az]=Zəngləri, smsləri, mmsləri və kontaktları bir yerdə idarə edin
Comment[be]=Апрацоўвайце званкі, SMS, MMS і кантакты ў адным месцы
Comment[bg]=Обработвайте обаждания, sms, mms и контакти на едно място
Comment[bho]=एक जगह पर कॉल, एसएमएस, एमएमएस और संपर्क सब के संभाल लीं
Comment[bm]=Handle calls, SMS, MMS ani contacts bɛɛ bɛ yɔrɔ kelen na .
Comment[bn]=কল, এসএমএস, এমএমএস এবং পরিচিতি সব এক জায়গায় হ্যান্ডেল করুন
Comment[bs]=Upravljajte pozivima, sms-ovima, mm-ovima i kontaktima na jednom mjestu
Comment[ca]=Gestioneu trucades, sms, mms i contactes en un sol lloc
Comment[ceb]=Pagdumala sa mga tawag, sms, mms ug kontak tanan sa usa ka lugar
Comment[ckb]=مامەڵەکردن لەگەڵ پەیوەندییەکان، کورتەنامە، MMS و پەیوەندییەکان هەموویان لە یەک شوێن
Comment[co]=Gestisce e chjama, sms, mms è cuntatti tutti in un locu
Comment[cs]=Vyřizujte hovory, SMS, mms a kontakty na jednom místě
Comment[da]=Håndter opkald, sms, mms og kontakter på ét sted
Comment[de]=Anrufe, SMS, MMS und Kontakte an einem Ort
Comment[doi]=कॉल, एसएमएस, एमएमएस ते संपर्क सारें गी इक थाह् र पर संभालो
Comment[dv]=ކޯލް، އެސްއެމްއެސް، އެމްއެމްއެސް އަދި ކޮންޓެކްޓްސް އެއްތަނެއްގައި ހެންޑްލް ކުރުން
Comment[ee]=Kpɔ kaƒoƒo, SMS, MMS kple kadodowo katã gbɔ le teƒe ɖeka .
Comment[el]=Χειριστείτε κλήσεις, sms, mms και επαφές όλα σε ένα μέρος
Comment[eo]=Pritraktu vokojn, sms, mms kaj kontaktojn ĉiujn en unu loko
Comment[es]=Gestiona llamadas, SMS, MMS y contactos en un solo lugar
Comment[et]=Hallake kõnesid, SMS-e, MMS-e ja kontakte ühes kohas
Comment[eu]=Kudeatu deiak, sms, mms eta kontaktuak leku bakarrean
Comment[fa]=تماس ها، پیامک ها، MMS و مخاطبین را در یک مکان مدیریت کنید
Comment[fi]=Hallitse puheluita, viestejä ja yhteystietoja yhdessä paikassa
Comment[fr]=Gérez appels, SMS, MMS et contacts au même endroit
Comment[fy]=Behannelje oproppen, sms, mms en kontakten allegear op ien plak
Comment[ga]=Láimhseáil glaonna, sms, mms agus teagmhálacha uile in aon áit amháin
Comment[gl]=Xestiona chamadas, sms, mms e contactos nun só lugar
Comment[gn]=Oñangareko umi ñehenói, SMS, MMS ha contacto opavave peteĩ hendápe .
Comment[gom]=हँडल कॉल, एसएमएस, एमएमएस आनी संपर्क सगळे एकाच सुवातेर
Comment[gu]=કૉલ્સ, એસએમએસ, એમએમએસ અને સંપર્કોને એક જ જગ્યાએ હેન્ડલ કરો
Comment[ha]=Karɓar kira, sms, mms da lambobi duk wuri ɗaya
Comment[haw]=E hoʻopaʻa i nā kelepona, sms, mms a me nā pilina ma kahi hoʻokahi
Comment[hi]=कॉल, एसएमएस, एमएमएस और संपर्कों को एक ही स्थान पर संभालें
Comment[hmn]=Kov hu, sms, mms thiab hu rau txhua qhov chaw
Comment[hr]=Upravljajte pozivima, SMS-ovima, mms-ovima i kontaktima na jednom mjestu
Comment[ht]=Jere apèl, sms, mms ak kontak tout nan yon sèl kote
Comment[hu]=Kezelje a hívásokat, SMS-eket, MMS-eket és kapcsolatokat egy helyen
Comment[hy]=Կառավարեք զանգերը, sms-ը, mms-ը և կոնտակտները՝ բոլորը մեկ տեղում
Comment[id]=Tangani panggilan, sms, mms, dan kontak di satu tempat
Comment[ig]=Jikwaa oku, SMS, mms na kọntaktị niile n'otu ebe
Comment[ilo]=Handle calls, SMS, MMS ken contacts amin iti maysa a lugar .
Comment[is]=Sjáðu um símtöl, SMS, MMS og tengiliði á einum stað
Comment[it]=Gestisci chiamate, SMS, MMS e contatti in un unico posto
Comment[iw]=טפל בשיחות, sms, mms ואנשי קשר הכל במקום אחד
Comment[ja]=通話、SMS、MMS、連絡先をすべて一か所で管理
Comment[jw]=Nangani telpon, sms, mms lan kontak kabeh ing sak panggonan
Comment[ka]=აწარმოეთ ზარები, sms, mms და კონტაქტები ერთ ადგილას
Comment[kk]=Қоңырауларды, sms, mms және контактілерді бір жерде өңдеңіз
Comment[km]=គ្រប់គ្រងការហៅទូរសព្ទ ផ្ញើសារ មម និងទំនាក់ទំនងទាំងអស់នៅកន្លែងតែមួយ
Comment[kn]=ಕರೆಗಳು, sms, mms ಮತ್ತು ಸಂಪರ್ಕಗಳನ್ನು ಒಂದೇ ಸ್ಥಳದಲ್ಲಿ ನಿರ್ವಹಿಸಿ
Comment[ko]=통화, SMS, MMS 및 연락처를 한 곳에서 관리
Comment[kri]=Handle kol, SMS, MMS ɛn kɔntakt dɛn ɔl na wan ples
Comment[ku]=Bang, sms, mms û ​​têkiliyan hemî li yek cîhek bi rê ve bibin
Comment[ky]=Чалууларды, смстерди, ммстерди жана байланыштарды бир жерден башкарыңыз
Comment[la]=Palpate vocat, sms, mms et contactus omnia in unum locum
Comment[lb]=Handhaben Uriff, SMSen, MMS a Kontakter alles op enger Plaz
Comment[lg]=Okukuba amasimu, SMS, MMS ne Contacts byonna mu kifo kimu
Comment[ln]=Ba appels ya manzaka, SMS, MMS na ba contacts nionso na esika moko .
Comment[lo]=ຈັດການການໂທ, sms, mms ແລະຕິດຕໍ່ພົວພັນທັງຫມົດຢູ່ໃນສະຖານທີ່ດຽວ
Comment[lt]=Tvarkykite skambučius, SMS, MMS ir kontaktus vienoje vietoje
Comment[lv]=Apstrādājiet zvanus, īsziņas, mms un kontaktus vienuviet
Comment[mai]=हैंडल कॉल, एसएमएस, एमएमएस आ संपर्क सब एक ठाम
Comment[mg]=Mitantana antso, sms, mms ary fifandraisana amin'ny toerana iray
Comment[mi]=Whakahaerehia nga waea, sms, mms me nga hoapaki ki te waahi kotahi
Comment[mk]=Справувајте со повици, смс, мм и контакти на едно место
Comment[ml]=കോളുകൾ, എസ്എംഎസ്, എംഎംഎസ്, കോൺടാക്റ്റുകൾ എന്നിവയെല്ലാം ഒരിടത്ത് കൈകാര്യം ചെയ്യുക
Comment[mr]=कॉल, एसएमएस, एमएमएस आणि संपर्क सर्व एकाच ठिकाणी हाताळा
Comment[ms]=Mengendalikan panggilan, sms, mms dan kenalan semua di satu tempat
Comment[mt]=Immaniġġja sejħiet, sms, mms u kuntatti kollha f'post wieħed
Comment[nb]=Håndter samtaler, SMS, MMS og kontakter på ett sted
Comment[nl]=Beheer oproepen, sms, mms en contacten op één plek
Comment[ny]=Gwirani mafoni, ma sms, mms ndi ma contact onse pamalo amodzi
Comment[pa]=ਕਾਲਾਂ, sms, mms ਅਤੇ ਸੰਪਰਕਾਂ ਨੂੰ ਇੱਕੋ ਥਾਂ 'ਤੇ ਸੰਭਾਲੋ
Comment[pl]=Obsługuj połączenia, SMS-y, MMS-y i kontakty w jednym miejscu
Comment[pt_BR]=Gerencie chamadas, SMS, MMS e contatos em um só lugar
Comment[ro]=Gestionați apelurile, sms, mms și contacte, toate într-un singur loc
Comment[ru]=Управление звонками, SMS, MMS и контактами в одном месте
Comment[rw]=Koresha guhamagara, sms, mms na contact zose ahantu hamwe
Comment[sk]=Vybavujte hovory, SMS, MMS a kontakty na jednom mieste
Comment[sl]=Upravljajte klice, SMS-e, mms-e in stike na enem mestu
Comment[sq]=Trajtoni telefonatat, sms, mms dhe kontaktet të gjitha në një vend
Comment[sr]=Управљајте позивима, смс-овима, мм-овима и контактима на једном месту
Comment[sv]=Hantera samtal, sms, mms och kontakter på ett ställe
Comment[sw]=Shikilia simu, sms, mms na anwani zote katika sehemu moja
Comment[ta]=அழைப்புகள், எஸ்எம்எஸ், எம்எம்எஸ் மற்றும் தொடர்புகள் அனைத்தையும் ஒரே இடத்தில் கையாளவும்
Comment[te]=కాల్‌లు, sms, mms మరియు పరిచయాలను ఒకే చోట నిర్వహించండి
Comment[th]=จัดการการโทร SMS MMS และรายชื่อติดต่อได้ในที่เดียว
Comment[tl]=Pangasiwaan ang mga tawag, sms, mms at contact lahat sa isang lugar
Comment[tr]=Aramaları, SMS'leri, MMS'leri ve kişileri tek bir yerden yönetin
Comment[uk]=Обслуговуйте дзвінки, SMS, mms і контакти в одному місці
Comment[ur]=کالوں ، ایس ایم ایس ، ایم ایم ایس اور رابطے کو ایک ہی جگہ پر ہینڈل کریں
Comment[vi]=Xử lý tất cả các cuộc gọi, tin nhắn, mms và danh bạ ở một nơi
Comment[zh_CN]=在一个地方处理通话、短信、彩信和联系人
Comment[zh_TW]=在一處處理電話、短信、彩信和聯繫人
