[Desktop Entry]
Type=Application
Exec=telephony --messages %u
Icon=io.furios.Telephony.Messages
Terminal=false
Categories=Utility;Telephony;Network;
MimeType=x-scheme-handler/sms;x-scheme-handler/smsto;x-scheme-handler/mms;x-scheme-handler/mmsto;
StartupNotify=false
DBusActivatable=false
StartupWMClass=io.furios.Telephony
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
X-Phosh-UsesFeedback=true

Name=Messages
Name[af]=Boodskappe
Name[am]=መልዕክቶች
Name[ar]=الرسائل
Name[as]=বাৰ্তাসমূহ
Name[ay]=Yatiyawinaka .
Name[az]=Mesajlar
Name[be]=Паведамленні
Name[bg]=Съобщения
Name[bho]=संदेश दिहल गइल बा .
Name[bm]=Cikanw .
Name[bn]=বার্তা
Name[bs]=Poruke
Name[ca]=Missatges
Name[ceb]=Mga mensahe
Name[ckb]=پەیامەکان
Name[co]=Missaghji
Name[cs]=Zprávy
Name[da]=Beskeder
Name[de]=Nachrichten
Name[doi]=संदेश ऐ
Name[dv]=މެސެޖުތައް
Name[ee]=Gbedasiwo .
Name[el]=Μηνύματα
Name[eo]=Mesaĝoj
Name[es]=Mensajes
Name[et]=Sõnumid
Name[eu]=Mezuak
Name[fa]=پیام ها
Name[fi]=Viestit
Name[fr]=Messages
Name[fy]=Berjochten
Name[ga]=Teachtaireachtaí
Name[gl]=Mensaxes
Name[gn]=Marandukuéra rehegua .
Name[gom]=संदेश 1 .
Name[gu]=સંદેશાઓ
Name[ha]=Saƙonni
Name[haw]=Nā memo
Name[hi]=संदेश
Name[hmn]=Cov lus
Name[hr]=Poruke
Name[ht]=Mesaj
Name[hu]=Üzenetek
Name[hy]=Հաղորդագրություններ
Name[id]=Pesan
Name[ig]=Ozi
Name[ilo]=Dagiti mensahe .
Name[is]=Skilaboð
Name[it]=Messaggi
Name[iw]=הודעות
Name[ja]=メッセージ
Name[jw]=Pesen
Name[ka]=შეტყობინებები
Name[kk]=Хабарламалар
Name[km]=សារ
Name[kn]=ಸಂದೇಶಗಳು
Name[ko]=메시지
Name[kri]=Mɛsej dɛn .
Name[ku]=Messages
Name[ky]=Кабарлар
Name[la]=Mandata
Name[lb]=Messagen
Name[lg]=Obubaka .
Name[ln]=Ba messages .
Name[lo]=ຂໍ້ຄວາມ
Name[lt]=Žinutės
Name[lv]=Ziņojumi
Name[mai]=संदेश ८.
Name[mg]=Hafatra
Name[mi]=Nga Karere
Name[mk]=Пораки
Name[ml]=സന്ദേശങ്ങൾ
Name[mr]=संदेश
Name[ms]=Mesej
Name[mt]=Messaġġi
Name[nb]=Meldinger
Name[nl]=Berichten
Name[ny]=Mauthenga
Name[pa]=ਸੁਨੇਹੇ
Name[pl]=Wiadomości
Name[pt_BR]=Mensagens
Name[ro]=Mesaje
Name[ru]=Сообщения
Name[rw]=Ubutumwa
Name[sk]=Správy
Name[sl]=Sporočila
Name[sq]=Mesazhet
Name[sr]=Поруке
Name[sv]=Meddelanden
Name[sw]=Ujumbe
Name[ta]=செய்திகள்
Name[te]=సందేశాలు
Name[th]=ข้อความ
Name[tl]=Mga mensahe
Name[tr]=Mesajlar
Name[uk]=Повідомлення
Name[ur]=پیغامات
Name[vi]=Tin nhắn
Name[zh_CN]=信息
Name[zh_TW]=留言

Comment=Send and receive messages (Note: Starts as a standalone instance)
Comment[af]=Stuur en ontvang boodskappe
Comment[am]=መልዕክቶችን ይላኩ እና ይቀበሉ
Comment[ar]=إرسال واستقبال الرسائل
Comment[as]=বাৰ্তা প্ৰেৰণ আৰু গ্ৰহণ কৰক
Comment[ay]=Yatiyawinak apayanipxam ukat katuqapxam .
Comment[az]=Mesaj göndərin və qəbul edin
Comment[be]=Адпраўляць і атрымліваць паведамленні
Comment[bg]=Изпращане и получаване на съобщения
Comment[bho]=संदेश भेजीं आ प्राप्त करीं
Comment[bm]=Cikanw ci ani ka sɔrɔ .
Comment[bn]=বার্তা পাঠান এবং গ্রহণ করুন
Comment[bs]=Šaljite i primajte poruke
Comment[ca]=Enviar i rebre missatges
Comment[ceb]=Pagpadala ug pagdawat og mga mensahe
Comment[ckb]=ناردن و وەرگرتنی نامە
Comment[co]=Mandate è riceve missaghji
Comment[cs]=Odesílejte a přijímejte zprávy
Comment[da]=Send og modtag beskeder
Comment[de]=Nachrichten senden und empfangen
Comment[doi]=संदेश भेजें और प्राप्त करें
Comment[dv]=މެސެޖް ފޮނުވުމާއި ލިބުން
Comment[ee]=Ðo gbedasiwo ɖa eye nàxɔ wo .
Comment[el]=Αποστολή και λήψη μηνυμάτων
Comment[eo]=Sendu kaj ricevu mesaĝojn
Comment[es]=Enviar y recibir mensajes
Comment[et]=Sõnumite saatmine ja vastuvõtmine
Comment[eu]=Mezuak bidali eta jaso
Comment[fa]=ارسال و دریافت پیام
Comment[fr]=Envoyer et recevoir des messages
Comment[fy]=Stjoer en ûntfange berjochten
Comment[ga]=Seol agus faigh teachtaireachtaí
Comment[gl]=Enviar e recibir mensaxes
Comment[gn]=Emondo ha eguerahauka marandu .
Comment[gom]=संदेश धाडप आनी मेळोवप .
Comment[gu]=સંદેશાઓ મોકલો અને પ્રાપ્ત કરો
Comment[ha]=Aika da karɓar saƙonni
Comment[haw]=Hoʻouna a loaʻa nā memo
Comment[hi]=संदेश भेजें और प्राप्त करें
Comment[hmn]=Xa thiab txais cov lus
Comment[hr]=Slanje i primanje poruka
Comment[ht]=Voye epi resevwa mesaj
Comment[hu]=Üzenetek küldése és fogadása
Comment[hy]=Ուղարկեք և ստացեք հաղորդագրություններ
Comment[id]=Kirim dan terima pesan
Comment[ig]=Zipu ma nata ozi
Comment[ilo]=Mangipatulod ken umawat kadagiti mensahe .
Comment[is]=Senda og taka á móti skilaboðum
Comment[it]=Invia e ricevi messaggi
Comment[iw]=שלח וקבל הודעות
Comment[ja]=メッセージの送受信
Comment[jw]=Ngirim lan nampa pesen
Comment[ka]=გაგზავნეთ და მიიღეთ შეტყობინებები
Comment[kk]=Хабарламаларды жіберу және алу
Comment[km]=ផ្ញើ និងទទួលសារ
Comment[kn]=ಸಂದೇಶಗಳನ್ನು ಕಳುಹಿಸಿ ಮತ್ತು ಸ್ವೀಕರಿಸಿ
Comment[ko]=메시지 보내기 및 받기
Comment[kri]=Send ɛn gɛt mɛsej dɛn .
Comment[ku]=Mesajên bişînin û bistînin
Comment[ky]=Кабарларды жөнөтүү жана кабыл алуу
Comment[la]=Mitte ac nuntiis
Comment[lb]=Schécken a kréien Messagen
Comment[lg]=Weereza n'okufuna obubaka .
Comment[ln]=Tinda mpe zwa ba messages .
Comment[lo]=ສົ່ງແລະຮັບຂໍ້ຄວາມ
Comment[lt]=Siųsti ir gauti žinutes
Comment[lv]=Sūtīt un saņemt ziņas
Comment[mai]=संदेश भेजू आ प्राप्त करू
Comment[mg]=Mandefa sy mandray hafatra
Comment[mi]=Tukuna ka whiwhi karere
Comment[mk]=Испраќајте и примајте пораки
Comment[ml]=സന്ദേശങ്ങൾ അയയ്‌ക്കുകയും സ്വീകരിക്കുകയും ചെയ്യുക
Comment[mr]=संदेश पाठवा आणि प्राप्त करा
Comment[ms]=Hantar dan terima mesej
Comment[mt]=Ibgħat u tirċievi messaġġi
Comment[nb]=Send og motta meldinger
Comment[nl]=Berichten verzenden en ontvangen
Comment[ny]=Tumizani ndi kulandira mauthenga
Comment[pa]=ਸੁਨੇਹੇ ਭੇਜੋ ਅਤੇ ਪ੍ਰਾਪਤ ਕਰੋ
Comment[pl]=Wysyłanie i odbieranie wiadomości
Comment[pt_BR]=Enviar e receber mensagens
Comment[ro]=Trimiteți și primiți mesaje
Comment[ru]=Отправлять и получать сообщения
Comment[rw]=Kohereza no kwakira ubutumwa
Comment[sk]=Posielajte a prijímajte správy
Comment[sl]=Pošiljanje in prejemanje sporočil
Comment[sq]=Dërgoni dhe merrni mesazhe
Comment[sr]=Шаљите и примајте поруке
Comment[sv]=Skicka och ta emot meddelanden
Comment[sw]=Tuma na upokee ujumbe
Comment[ta]=செய்திகளை அனுப்பவும் பெறவும்
Comment[te]=సందేశాలను పంపండి మరియు స్వీకరించండి
Comment[th]=ส่งและรับข้อความ
Comment[tl]=Magpadala at tumanggap ng mga mensahe
Comment[tr]=Mesaj gönder ve al
Comment[uk]=Надсилати та отримувати повідомлення
Comment[ur]=پیغامات بھیجیں اور وصول کریں
Comment[vi]=Gửi và nhận tin nhắn
Comment[zh_CN]=发送和接收信息
Comment[zh_TW]=發送和接收消息
