[Desktop Entry]
Name=Telephony Service
Comment=Background service for calls and messages
Exec=io.furios.Telephony.Daemon
Icon=io.furios.Telephony
Terminal=false
Type=Application
NoDisplay=true
