[Desktop Entry]
Name=Telephony Emergency
Name[af]=Telephony Noodgeval
Name[sq]=Telephony emergjente
Name[am]=Telephony ድንገተኛ አደጋ
Name[hy]=Telephony Արտակարգ իրավիճակ
Name[as]=Telephony জৰুৰীকালীন
Name[ay]=Telephony markan jan walt’äwipa.
Name[az]=Telephony Təcili
Name[bm]=Telephony kɔrɔtɔko .
Name[eu]=Larrialdi Telephonya
Name[be]=Telephony Emergency
Name[bn]=Telephony ইমার্জেন্সি
Name[bho]=Telephony आपातकाल के बा
Name[bs]=Telephony Emergency
Name[bg]=Telephony Emergency
Name[ceb]=Telephony Emergency
Name[ny]=Telephony Emergency
Name[co]=Telephony Emergenza
Name[dv]=Telephony އެމަޖެންސީ
Name[doi]=Telephony आपातकाल
Name[eo]=Telephony Krizo
Name[ee]=Telephony Kpata .
Name[fy]=Telephony Emergency
Name[gl]=Telephony Emerxencia
Name[ka]=Telephonyს სასწრაფო
Name[gn]=Emergencia telephony rehegua .
Name[ht]=Telephony Ijans
Name[ha]=Gaggawa na telephony
Name[haw]=Telephony Emergency
Name[hmn]=Telephony Emergency
Name[ig]=Mberede telephony
Name[ilo]=Emergency ti Telephony .
Name[ga]=Telephony Éigeandála
Name[jw]=Telephony Darurat
Name[kk]=Telephonyдағы төтенше жағдай
Name[km]=Telephony សង្គ្រោះបន្ទាន់
Name[rw]=Telephony Byihutirwa
Name[gom]=Telephony आणीबाणी 1000 .
Name[kri]=Telephony Imejɛnsi .
Name[ku]=Telephony Emergency
Name[ckb]=Telephony فریاگوزاری
Name[ky]=Telephony өзгөчө кырдаал
Name[lo]=Telephony ສຸກເສີນ
Name[la]=Telephony tumultuarios
Name[ln]=Telephony Emergency .
Name[lg]=telephony embeera ey'amangu .
Name[lb]=Telephony Noutfall
Name[mk]=Telephony итна помош
Name[mai]=Telephony आपातकालीन 2019।
Name[mg]=Telephony Emergency
Name[mt]=Emerġenza Telephony
Name[mi]=Telephony Emergency
Name[ca]=Telephony d'emergència
Name[zh_TW]=輝豐緊急救援
Name[hr]=Telephony Hitna pomoć
Name[cs]=Pohotovost Telephony
Name[da]=Telephony-nødsituation
Name[et]=Telephony hädaolukord
Name[tl]=Telephony Emergency
Name[el]=Έκτακτης ανάγκης Telephony
Name[gu]=Telephony ઈમરજન્સી
Name[iw]=חירום של Telephony
Name[hu]=Telephony vészhelyzet
Name[kn]=Telephony ತುರ್ತುಸ್ಥಿತಿ
Name[lv]=Telephony ārkārtas situācija
Name[lt]=Telephony avarinė situacija
Name[ms]=Telephony Kecemasan
Name[ml]=Telephony എമർജൻസി
Name[mr]=Telephony आणीबाणी
Name[fa]=اورژانس Telephony
Name[pa]=Telephony ਐਮਰਜੈਂਸੀ
Name[ro]=Urgenta Telephony
Name[sr]=Telephony Хитна помоћ
Name[sk]=Telephonyová pohotovosť
Name[sl]=Nujna pomoč Telephony
Name[sw]=Dharura ya Telephony
Name[ta]=Telephony அவசரநிலை
Name[te]=Telephony ఎమర్జెన్సీ
Name[th]=Telephonyฉุกเฉิน
Name[uk]=Telephony Emergency
Name[ur]=Telephony ایمرجنسی
Name[vi]=Telephony khẩn cấp
Name[fi]=Telephony Hätäpuhelu
Comment=Emergency Call Manager
Comment[ny]=Emergency Call Manager
Comment[da]=Emergency Call Manager
Comment[fy]=Emergency Call Manager
Comment[hmn]=Emergency Call Manager
Comment[lb]=Emergency Call Manager
Comment[af]=Noodoproepbestuurder
Comment[sq]=Menaxher i thirrjeve të urgjencës
Comment[am]=የአደጋ ጊዜ ጥሪ አስተዳዳሪ
Comment[hy]=Արտակարգ իրավիճակների մենեջեր
Comment[as]=জৰুৰীকালীন কল মেনেজাৰ
Comment[ay]=Emergencia jawsaña Gerente .
Comment[az]=Təcili Zəng Meneceri
Comment[bm]=Kɔrɔtɔko weleli ɲɛmɔgɔ .
Comment[eu]=Larrialdi-deien kudeatzailea
Comment[be]=Менеджэр экстраных выклікаў
Comment[bn]=জরুরী কল ম্যানেজার
Comment[bho]=आपातकालीन कॉल मैनेजर के बा .
Comment[bs]=Upravitelj hitnih poziva
Comment[bg]=Мениджър за спешни повиквания
Comment[ceb]=Tawag sa Emergency Manager
Comment[co]=Manager di chjama d'emergenza
Comment[dv]=އިމަޖެންސީ ކޯލް މެނޭޖަރ
Comment[doi]=आपातकालीन काल प्रबंधक
Comment[eo]=Administranto de Krizvoko
Comment[ee]=Yɔyɔ Dɔwɔƒe si Kpɔa Nudzɔdzɔ Kpatawo Gbɔ .
Comment[gl]=Xestor de chamadas de emerxencia
Comment[ka]=გადაუდებელი ზარის მენეჯერი
Comment[gn]=Gerente de llamadas de emergencia rehegua .
Comment[ht]=Manadjè apèl ijans
Comment[ha]=Manajan Kiran Gaggawa
Comment[haw]=Luna Hoʻokele Waʻa Kūikawā
Comment[ig]=Onye njikwa oku mberede
Comment[ilo]=Manager ti awag ti emerhensia .
Comment[ga]=Bainisteoir Glaonna Éigeandála
Comment[jw]=Pangurus Telpon Darurat
Comment[kk]=Төтенше қоңыраулар менеджері
Comment[km]=កម្មវិធីគ្រប់គ្រងការហៅទូរស័ព្ទបន្ទាន់
Comment[rw]=Umuyobozi ushinzwe guhamagara byihutirwa
Comment[gom]=आपत्कालीन कॉल वेवस्थापक 1.1.
Comment[kri]=Imejɛnsi Kɔl Maneja .
Comment[ku]=Gerînendeyê Banga Awarte
Comment[ckb]=بەڕێوەبەری پەیوەندی فریاگوزاری
Comment[ky]=Шашылыш чалуу менеджери
Comment[lo]=ຜູ້ຈັດການການໂທສຸກເສີນ
Comment[la]=Subitis Voca Manager
Comment[ln]=Mokambi ya ba appels ya urgence .
Comment[lg]=Maneja w'okukubira essimu mu bwangu .
Comment[mk]=Менаџер за итни повици
Comment[mai]=आपातकालीन कॉल मैनेजर
Comment[mg]=Mpitantana antso vonjy maika
Comment[mt]=Maniġer tas-Sejħiet ta' Emerġenza
Comment[mi]=Kaiwhakahaere Waea ohorere
Comment[ca]=Gestor de trucades d'emergència
Comment[zh_TW]=緊急呼叫管理器
Comment[hr]=Voditelj hitnih poziva
Comment[cs]=Správce tísňového volání
Comment[et]=Hädaabikõnede juht
Comment[tl]=Tagapamahala ng Pang-emergency na Tawag
Comment[el]=Υπεύθυνος κλήσεων έκτακτης ανάγκης
Comment[gu]=ઇમરજન્સી કૉલ મેનેજર
Comment[iw]=מנהל שיחות חירום
Comment[hu]=Segélyhívás-kezelő
Comment[kn]=ತುರ್ತು ಕರೆ ನಿರ್ವಾಹಕ
Comment[lv]=Ārkārtas zvanu vadītājs
Comment[lt]=Pagalbos skambučių vadovas
Comment[ms]=Pengurus Panggilan Kecemasan
Comment[ml]=എമർജൻസി കോൾ മാനേജർ
Comment[mr]=आपत्कालीन कॉल व्यवस्थापक
Comment[fa]=مدیر تماس اضطراری
Comment[pa]=ਐਮਰਜੈਂਸੀ ਕਾਲ ਮੈਨੇਜਰ
Comment[ro]=Manager apeluri de urgență
Comment[sr]=Менаџер хитних позива
Comment[sk]=Manažér tiesňového volania
Comment[sl]=Vodja klicev v sili
Comment[sw]=Meneja wa Simu ya Dharura
Comment[ta]=அவசர அழைப்பு மேலாளர்
Comment[te]=అత్యవసర కాల్ మేనేజర్
Comment[th]=ผู้จัดการการโทรฉุกเฉิน
Comment[uk]=Менеджер екстреного виклику
Comment[ur]=ایمرجنسی کال مینیجر
Comment[vi]=Trình quản lý cuộc gọi khẩn cấp
Exec=io.furios.Telephony
Icon=io.furios.Telephony.Emergency
Terminal=false
Type=Application
Categories=Utility;Telephony;Network;
StartupNotify=true
NoDisplay=true
X-Phosh-Lockscreen-Actions=app.emergency_menu::;app.emergency_dial::;app.emergency_confirm::;app.emergency_cancel::;app.emergency_reset::;app.restart-modem::;
Name[zh_CN]=Telephony 紧急
Name[de]=Telephony Notfall
Name[ja]=Telephony 緊急
Name[hi]=Telephony आपातकालीन
Name[fr]=Telephony Urgence
Name[pt_BR]=Telephony Emergência
Name[it]=Telephony Emergenza
Name[ru]=Telephony Экстренный
Name[es]=Telephony Emergencia
Name[ko]=Telephony 긴급
Name[id]=Telephony Darurat
Name[tr]=Telephony Acil
Name[nl]=Telephony Noodgeval
Name[ar]=Telephony طوارئ
Name[pl]=Telephony Alarmowe
Name[sv]=Telephony Nödsamtal
Name[nb]=Telephony Nødnummer
Name[is]=Telephony Neyðarlína
Comment[zh_CN]=紧急呼叫管理器
Comment[de]=Notruf-Manager
Comment[ja]=緊急通話マネージャー
Comment[hi]=आपातकालीन कॉल प्रबंधक
Comment[fr]=Gestionnaire d'appels d'urgence
Comment[pt_BR]=Gerenciador de Chamadas de Emergência
Comment[it]=Gestore chiamate di emergenza
Comment[ru]=Менеджер экстренных вызовов
Comment[es]=Gestor de llamadas de emergencia
Comment[ko]=긴급 통화 관리자
Comment[id]=Pengelola Panggilan Darurat
Comment[tr]=Acil Arama Yöneticisi
Comment[nl]=Noodoproepbeheer
Comment[ar]=مدير مكالمات الطوارئ
Comment[pl]=Menedżer połączeń alarmowych
Comment[sv]=Hanterare för nödsamtal
Comment[nb]=Nødsamtalebehandling
Comment[is]=Neyðarsímtalastjóri
