[Desktop Entry]
Name=Telephony Service
Comment=Background service for calls and messages
Exec=/usr/libexec/telephony-server
Icon=io.furios.Telephony
Terminal=false
Type=Application
NoDisplay=true
