[Desktop Entry]
Type=Application
Exec=io.furios.Telephony.Contacts
Icon=io.furios.Telephony.Contacts
Terminal=false
Categories=Utility;Telephony;Network;
StartupNotify=false
DBusActivatable=false
StartupWMClass=io.furios.Telephony
X-Purism-FormFactor=Workstation;Mobile;
X-GNOME-UsesNotifications=true
X-Phosh-UsesFeedback=true

Name=Contacts
Name[af]=Kontakte
Name[am]=እውቂያዎች
Name[ar]=جهات الاتصال
Name[as]=যোগাযোগ
Name[ay]=Uñt’ayasiñanaka .
Name[az]=Əlaqələr
Name[be]=Кантакты
Name[bg]=Контакти
Name[bho]=संपर्क करे के बा .
Name[bm]=Contacts .
Name[bn]=পরিচিতি
Name[bs]=Kontakti
Name[ca]=Contactes
Name[ceb]=Mga kontak
Name[ckb]=پەیوەندییەکان
Name[co]=Cuntatti
Name[cs]=Kontakty
Name[da]=Kontaktpersoner
Name[de]=Kontakte
Name[doi]=संपर्क ऐ
Name[dv]=ކޮންޓެކްޓްސް
Name[ee]=Kadodowo .
Name[el]=Επαφές
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=مخاطبین
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[fy]=Kontakten
Name[ga]=Teagmhálaithe
Name[gl]=Contactos
Name[gn]=Contactos rehegua .
Name[gom]=संपर्क 1 .
Name[gu]=સંપર્કો
Name[ha]=Lambobin sadarwa
Name[haw]=Hoʻopili
Name[hi]=संपर्क
Name[hmn]=Tiv tauj
Name[hr]=Kontakti
Name[ht]=Kontak
Name[hu]=Kapcsolatok
Name[hy]=Կոնտակտներ
Name[id]=Kontak
Name[ig]=Ndi ana-akpo
Name[ilo]=Dagiti kontak .
Name[is]=Tengiliðir
Name[it]=Contatti
Name[iw]=אנשי קשר
Name[ja]=連絡先
Name[jw]=Kontak
Name[ka]=კონტაქტები
Name[kk]=Контактілер
Name[km]=ទំនាក់ទំនង
Name[kn]=ಸಂಪರ್ಕಗಳು
Name[ko]=연락처
Name[kri]=Kɔntakt dɛn .
Name[ku]=Têkilî
Name[ky]=Байланыштар
Name[la]=Contactus
Name[lb]=Kontakter
Name[lg]=Ebikwatagana n'abantu .
Name[ln]=Ba contacts .
Name[lo]=ຕິດຕໍ່ພົວພັນ
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mai]=सम्पर्क ८.
Name[mg]=Fifandraisana
Name[mi]=Hoapā
Name[mk]=Контакти
Name[ml]=ബന്ധങ്ങൾ
Name[mr]=संपर्क
Name[ms]=Kenalan
Name[mt]=Kuntatti
Name[nb]=Kontakter
Name[nl]=Contacten
Name[ny]=Contacts
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[rw]=Twandikire
Name[sk]=Kontakty
Name[sl]=Kontakti
Name[sq]=Kontaktet
Name[sr]=Контакти
Name[sv]=Kontakter
Name[sw]=Anwani
Name[ta]=தொடர்புகள்
Name[te]=పరిచయాలు
Name[th]=รายชื่อผู้ติดต่อ
Name[tl]=Mga contact
Name[tr]=Kişiler
Name[uk]=Контакти
Name[ur]=رابطے
Name[vi]=Danh bạ
Name[zh_CN]=联系人
Name[zh_TW]=聯繫方式

Comment=Manage your contacts (Start as a standalone instance)
Comment[af]=Bestuur jou kontakte
Comment[am]=እውቂያዎችዎን ያስተዳድሩ
Comment[ar]=إدارة جهات الاتصال الخاصة بك
Comment[as]=আপোনাৰ যোগাযোগসমূহ পৰিচালনা কৰক
Comment[ay]=Contactos ukanaka apnaqaña .
Comment[az]=Kontaktlarınızı idarə edin
Comment[be]=Кіруйце сваімі кантактамі
Comment[bg]=Управлявайте вашите контакти
Comment[bho]=आपन संपर्क के प्रबंधन करीं
Comment[bm]=Aw ye aw ka mɔgɔw ɲɛminɛ .
Comment[bn]=আপনার পরিচিতি পরিচালনা করুন
Comment[bs]=Upravljajte svojim kontaktima
Comment[ca]=Gestiona els teus contactes
Comment[ceb]=Pagdumala sa imong mga kontak
Comment[ckb]=بەڕێوەبردنی پەیوەندییەکانتان
Comment[co]=Gestisce i vostri cuntatti
Comment[cs]=Spravujte své kontakty
Comment[da]=Administrer dine kontakter
Comment[de]=Verwalten Sie Ihre Kontakte
Comment[doi]=अपने संपर्कें दा प्रबंध करो
Comment[dv]=ކޮންޓެކްޓްސް މެނޭޖްކުރުން
Comment[ee]=Dzra wò kadodowo ɖo .
Comment[el]=Διαχειριστείτε τις επαφές σας
Comment[eo]=Administri viajn kontaktojn
Comment[es]=Gestiona tus contactos
Comment[et]=Hallake oma kontakte
Comment[eu]=Kudeatu zure kontaktuak
Comment[fa]=مخاطبین خود را مدیریت کنید
Comment[fr]=Gérer vos contacts
Comment[fy]=Behear jo kontakten
Comment[ga]=Bainistigh do theagmhálaithe
Comment[gl]=Xestiona os teus contactos
Comment[gn]=Emohenda ne kundahára .
Comment[gom]=तुमचे संपर्क वेवस्थापन करात .
Comment[gu]=તમારા સંપર્કોનું સંચાલન કરો
Comment[ha]=Sarrafa abokan hulɗarku
Comment[haw]=E mālama i kāu mau pilina
Comment[hi]=svoj संपर्क प्रबंधित करें
Comment[hmn]=Tswj koj cov neeg sib cuag
Comment[hr]=Upravljajte svojim kontaktima
Comment[ht]=Jere kontak ou yo
Comment[hu]=Kezelje névjegyeit
Comment[hy]=Կառավարեք ձեր կոնտակտները
Comment[id]=Kelola kontak Anda
Comment[ig]=Jikwaa kọntaktị gị
Comment[ilo]=Imaneharmo dagiti kontakmo .
Comment[is]=Stjórna tengiliðum
Comment[it]=Gestisci i tuoi contatti
Comment[iw]=נהל את אנשי הקשר שלך
Comment[ja]=連絡先の管理
Comment[jw]=Atur kontak sampeyan
Comment[ka]=მართეთ თქვენი კონტაქტები
Comment[kk]=Контактілерді басқарыңыз
Comment[km]=គ្រប់គ្រងទំនាក់ទំនងរបស់អ្នក។
Comment[kn]=ನಿಮ್ಮ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=연락처 관리
Comment[kri]=Manej yu kɔntakt dɛn .
Comment[ku]=Têkiliyên xwe birêve bibin
Comment[ky]=Байланыштарыңызды башкарыңыз
Comment[la]=Contactus tua Curo
Comment[lb]=Verwalten Är Kontakter
Comment[lg]=Dukanya abantu b'okwatagana nabo .
Comment[ln]=Gérer ba contacts na yo .
Comment[lo]=ຈັດການລາຍຊື່ຜູ້ຕິດຕໍ່ຂອງທ່ານ
Comment[lt]=Tvarkykite savo kontaktus
Comment[lv]=Pārvaldiet savus kontaktus
Comment[mai]=अपन संपर्क प्रबंधित करू
Comment[mg]=Tantano ny fifandraisanao
Comment[mi]=Whakahaerehia o hoapaki
Comment[mk]=Управувајте со вашите контакти
Comment[ml]=നിങ്ങളുടെ കോൺടാക്റ്റുകൾ നിയന്ത്രിക്കുക
Comment[mr]=तुमचे संपर्क व्यवस्थापित करा
Comment[ms]=Urus kenalan anda
Comment[mt]=Immaniġġja l-kuntatti tiegħek
Comment[nb]=Administrer kontaktene dine
Comment[nl]=Beheer uw contacten
Comment[ny]=Konzani ma contact anu
Comment[pa]=ਆਪਣੇ ਸੰਪਰਕਾਂ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰੋ
Comment[pl]=Zarządzaj kontaktami
Comment[pt_BR]=Gerencie seus contatos
Comment[ro]=Gestionați-vă contactele
Comment[ru]=Управление контактами
Comment[rw]=Gucunga imibonano yawe
Comment[sk]=Spravujte svoje kontakty
Comment[sl]=Upravljajte svoje stike
Comment[sq]=Menaxhoni kontaktet tuaja
Comment[sr]=Управљајте својим контактима
Comment[sv]=Hantera dina kontakter
Comment[sw]=Dhibiti anwani zako
Comment[ta]=உங்கள் தொடர்புகளை நிர்வகிக்கவும்
Comment[te]=మీ పరిచయాలను నిర్వహించండి
Comment[th]=จัดการผู้ติดต่อของคุณ
Comment[tl]=Pamahalaan ang iyong mga contact
Comment[tr]=Kişilerinizi yönetin
Comment[uk]=Керуйте своїми контактами
Comment[ur]=اپنے رابطوں کا نظم کریں
Comment[vi]=Quản lý danh bạ của bạn
Comment[zh_CN]=管理您的联系人
Comment[zh_TW]=管理您的聯繫人
